#appComp{
    height:100vh;
}
md-toolbar{
    padding: 0;
}

md-tab-group{
    margin: 0;
    border-top: 3px solid #000000; /*black*/
    width: 100vw;
    overflow: hidden;
}

.mat-sidenav-container > .mat-sidenav > .mat-tab-group > .mat-tab-header > .mat-tab-label-container > .mat-tab-list > .mat-tab-labels {
  .mat-tab-label[role^='tab'] {
    min-width: 72px;
  }
}

.main-content{

}

    /*
/deep/.mat-tab-label, /deep/.mat-tab-label-active{
 min-width: 0!important;
 padding: 3px!important;
 margin: 3px!important;
}
*/